@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');
@import "./variables.css" ;

* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

a {
    text-decoration : none;
    color : inherit;
}

li {
    list-style-type : none ;
}

#app{
    background: var( --primary-bg);
    height: 100vh;
}

.header{
    background:var( --secondary-bg) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var( --padding-size-m);
    color: var( --additional-color);
}

.logo-wrapper{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: var(--margin-size-m);
}

.logo{
    width: 7rem;
    height: 7rem;
    border-radius: 25%;
}

.title{
    display: flex;
    align-items: center;
    font-family: var( --secondary-font-family);
    font-size: var(--font-size-xl);
    padding: var(--padding-size-m);
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.nav-item{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-l);
    color: var( --secondary-color);
}

.input-wrapper{
    display: flex;
    justify-content: center;
    margin-right: var(--margin-size-m);
    width: 20%;
}

.input{
    padding: var(--padding-size-m);
    border-radius: 5%;
}

.input:hover{
    background:aliceblue;
    color:var( --additional-color);
}

.conteiner{
    display: flex;
    justify-content: space-between;
}

.aside{
    width: 20%;
    border-right: 2px solid blue;
}

.title__aside{
    display: flex;
    justify-content: center;
    font-size: var(--font-size-xl);
    color: blue;
    margin-top: var(--margin-size-xl);
}

.aside__ul{
    display:block;
    justify-content: center;
    align-items: center;
    padding: var(--padding-size-l);
    margin: var(--margin-size-m);
    margin-top: 200px;
   
}

.li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-size-l);
    border: 2px solid blue;
    border-radius: 10%;
    padding: var(--padding-size-s);
    background: var(--spare-bg);
}

.li:hover{
    background: white;
}

.section{
    width: 90%;
    padding: var(--padding-size-l);
}

.title-page{
    display: flex;
    justify-content: center;
    font-size: var(--font-size-xl);
    color: blue;
}

.products__section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: var(--padding-size-l);
    margin: var(--margin-size-l);
}

.product{
    width: 500px;
    height: 600px;
    background: whitesmoke;
    border: 2px solid blue;
    padding: var(--padding-size-l);
    margin-top: var(--margin-size-l);
}

.title__product{
    font-size: var(--font-size-l);
    display: flex;
    justify-content: center;
}

.img__product{
    width: 300px;
    height: 300px;
    margin-top: var(--margin-size-l);
}

.price__produkt{
    display: flex;
    justify-content: end;
    margin-top: var(--margin-size-l);
}
    




    